<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/normalize.css">
  	<link rel="stylesheet" href="/css/skeleton.css">
  	<link rel="stylesheet" href="/css/default.css">
  	<link rel="stylesheet" href="/css/smooth_box_shadow.css">
  	<link rel="stylesheet" href="/css/style.css">
  	<script type="text/javascript" src="/js/index.js"></script>
  	<script type="text/javascript" src="/js/default.js"></script>

    <title>Your application</title>
</head>
<body>

<%- include ('./default_navbar') %>
<%- include ('./default_flashes') %>