<nav class="navbar">
  <div class="container">
	<a href="/">Home</a> | 
	<%if(!currentUser) {%>
		<a href="/auth/login">Login</a>
	<% } else { %>
		<a href="/users/<%=currentUser.username%>"><%=currentUser.username%></a> | 
		<a href="/auth/logout">Logout</a>
	<% } %>
   </div>
</nav>
<hr>
