<%- include ('./../partials/default_header') %>
<div class="container centered">
	You: <%= current_user %>
	<br>
	Message: <%= data.message %>
	<br>
</div>
<%- include ('./../partials/default_footer') %>